<div class="grid">
            <div class="col-12">
                <div class="surface-card shadow-2 border-round flex p-3 flex-column md:flex-row">
                    <div class="border-bottom-1 md:border-right-1 md:border-bottom-none surface-border flex-auto p-3">
                        <div class="flex align-items-center mb-3">
                            <i class="pi pi-th-large text-blue-500 text-xl mr-2"></i>
                            <span class="text-500 font-medium">Planos</span>
                        </div>
                        <span class="block text-900 font-medium mb-4 text-xl">{{ planos.length }}</span>
                        <div class="flex align-items-center">
                            <i class="pi pi-arrow-down text-pink-500 text-xl mr-2"></i>
                            <span class="text-pink-500 font-medium ">-25</span>
                        </div>
                    </div>
                    <div class="border-bottom-1 md:border-right-1 md:border-bottom-none surface-border flex-auto p-3">
                        <div class="flex align-items-center mb-3">
                            <i class="pi pi-tag text-orange-500 text-xl mr-2"></i>
                            <span class="text-500 font-medium">Projetos</span>
                        </div>
                        <span class="block text-900 font-medium mb-4 text-xl">{{ projetos.length }}</span>
                        <div class="flex align-items-center">
                            <i class="pi pi-arrow-up text-green-500 text-xl mr-2"></i>
                            <span class="text-green-500 font-medium ">+15</span>
                        </div>
                    </div>
                    <div class="border-bottom-1 md:border-right-1 md:border-bottom-none surface-border flex-auto p-3">
                        <div class="flex align-items-center mb-3">
                            <i class="pi pi-ticket text-cyan-500 text-xl mr-2"></i>
                            <span class="text-500 font-medium">Etapas</span>
                        </div>
                        <span class="block text-900 font-medium mb-4 text-xl">{{ etapas.length }}</span>
                        <div class="flex align-items-center">
                            <i class="pi pi-arrow-up text-green-500 text-xl mr-2"></i>
                            <span class="text-green-500 font-medium ">+%12</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6">
                <div class="surface-card shadow-2 border-round p-4 h-full">
                    <div class="flex align-items-center justify-content-between mb-3">
                        <div class="text-900 font-medium text-xl">Meus Projetos</div>
                    </div>
                    <div class="flex justify-content-center flex-wrap" *ngIf="carregandoProjetos">
                        <div class="flex align-items-center justify-content-center">
                            <app-spinner></app-spinner>
                        </div>
                    </div>
                    <ul class="list-none p-0 m-0" *ngIf="!carregandoProjetos">
                        <li class="py-3 border-bottom-1 surface-border flex md:align-items-start md:justify-content-between flex-column md:flex-row" *ngFor="let projeto of projetos">
                            <div class="flex align-items-start mr-0 lg:mr-5">
                                <div>
                                    <span class="text-900 font-medium block mb-2">{{ projeto.nomePlano }} > {{ projeto.nome }}</span>
                                    <div class="text-700 mb-2">Líder {{ projeto.lider }}</div>
                                    <span class="text-primary cursor-pointer">
                                        <p-badge [value]="'Atrasado'" severity="danger" *ngIf="projeto.atraso"/>
                                        <p-badge [value]="'Em Dia'" severity="success" *ngIf="!projeto.atraso"/>
                                    </span>
                                </div>
                            </div>
                            <span class="block text-500 font-medium ml-7 md:ml-5 mt-2 md:mt-0">{{ projeto.cronograma.data | date: 'dd/MM/yyyy' }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 lg:col-6">
                <div class="surface-card shadow-2 border-round p-4 h-full">
                    <div class="flex align-items-center justify-content-between mb-4">
                        <div class="text-900 font-medium text-xl">Ações Pendentes</div>
                    </div>
                    <span class="block text-600 font-medium mb-3">Atrasadas</span>
                    <div class="flex justify-content-center flex-wrap" *ngIf="carregandoAcoes">
                        <div class="flex align-items-center justify-content-center">
                            <app-spinner></app-spinner>
                        </div>
                    </div>
                    <ul class="p-0 mx-0 mt-0 mb-4 list-none" *ngIf="!carregandoAcoes">
                        <li class="flex align-items-center" *ngFor="let etapa of etapas">
                            <span class="text-900 line-height-3  py-2 border-bottom-1 surface-border font-medium" *ngIf="etapa.atrasado > 0">
                                {{ etapa.nome }}
                                <br>
                                <span class="text-700 font-normal">Responsável: {{ etapa.responsael || 'Sem responsável'}}, Atrasada hà <span class="text-red-500 font-medium">{{ etapa.atrasado }}</span> dias.</span>
                            </span>
                        </li>
                    </ul>
            
                    <!-- <span class="block text-600 font-medium mb-3">Em Dia</span>
                    <div class="flex justify-content-center flex-wrap" *ngIf="carregandoAcoes">
                        <div class="flex align-items-center justify-content-center">
                            <app-spinner></app-spinner>
                        </div>
                    </div>
                    <ul class="p-0 m-0 list-none" *ngIf="!carregandoAcoes">
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                                <i class="pi pi-dollar text-xl text-blue-500"></i>
                            </div>
                            <span class="text-900 line-height-3 font-medium">Keyser Wick
                                <span class="text-700 font-normal">has purchased a black jacket for <span class="text-red font-medium">$59</span></span>
                            </span>
                        </li>
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                                <i class="pi pi-question text-xl text-pink-500"></i>
                            </div>
                            <span class="text-900 line-height-3 font-medium">Jane Davis
                                <span class="text-700 font-normal">has posted a new questions about your product.</span>
                            </span>
                        </li>
                        <li class="flex align-items-center py-2">
                            <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-100 border-circle mr-3 flex-shrink-0">
                                <i class="pi pi-arrow-up text-xl text-green-500"></i>
                            </div>
                            <span class="text-900 line-height-3 font-medium">Claire Smith
                                <span class="text-700 font-normal">has upvoted your store along with a comment.</span>
                            </span>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>