<p-toast />

<div class="min-h-screen flex surface-ground" *ngIf="isAuthenticated">
    <div id="app-sidebar-3" class="bg-gray-900 h-screen hidden lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 border-right-1 border-gray-800 select-none" style="width:280px">
        <div class="flex flex-column h-full">
            <div class="overflow-y-auto">
                <ul class="list-none p-3 m-0">
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors" >
                            <i class="pi pi-home mr-2"></i>
                            <span class="font-medium" [routerLink]="'/'">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors"
                            pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">
                            <i class="pi pi-th-large mr-2"></i>
                            <span class="font-medium">Meus Planos</span>
                            <i class="pi pi-chevron-down ml-auto"></i>
                        </a>
                        <ul class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                            <li>
                                <p-button label="Novo Plano" icon="pi pi-plus" class="w-full" (onClick)="janelaNovoPlano()"/>
                            </li>
                            <li *ngFor="let plano of planos" pRipple class="flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors">
                                <span class="font-medium" [routerLink]="'plano'" [queryParams]="{ IdPlano: plano.IdPlano }">{{ plano.nome }}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-none p-3 m-0">
                    <li>
                        <span class="block p-3 text-600">FERRAMENTAS</span>
                    </li>
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors">
                            <i class="pi pi-hourglass mr-2"></i>
                            <span class="font-medium">Linha de ação</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colors">
                            <i class="pi pi-chart-bar mr-2"></i>
                            <span class="font-medium">Relatórios</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mt-auto">
                <hr class="mb-3 mx-3 border-top-1 border-none border-gray-800" />
                <a pRipple class="m-3 flex align-items-center cursor-pointer p-3 border-round hover:bg-gray-800 text-gray-300 hover:text-white transition-duration-150 transition-colorss">
                    <span class="font-medium">Logout</span>
                    <a (click)="logout()" pRipple class="cursor-pointer inline-flex align-items-center justify-content-center  hover:bg-indigo-700 active:bg-indigo-400 text-indigo-200 hover:text-indigo-100 transition-colors transition-duration-150" style="width:40px;height:40px;border-radius:10px">
                        <i class="pi pi-sign-out text-xl"></i>
                    </a>
                </a>
            </div>
        </div>
    </div>
    <div class="min-h-screen flex flex-column relative flex-auto">
        <div class="p-5 flex flex-column flex-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- modal novo plano -->
 <p-dialog 
    header="Novo Plano" 
    [modal]="true"
    [(visible)]="mostrarNovoPlano" 
    [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">
                Nome
            </label>
            <input pInputText id="username" class="flex-auto" autocomplete="off" [(ngModel)]="novoPlano.nome" />
        </div>
         <div class="flex align-items-center gap-3 mb-5">
            <label for="email" class="font-semibold w-6rem">Desafio</label>
            <textarea 
                rows="5"
                cols="30" 
                class="flex-auto"
                pInputTextarea 
                [(ngModel)]="novoPlano.desafio">
            </textarea>
        </div>
        <div class="flex align-items-center gap-3 mb-5">
            <label for="email" class="font-semibold w-6rem">Através de</label>
            <textarea 
                rows="5"
                cols="30" 
                class="flex-auto"
                pInputTextarea 
                [(ngModel)]="novoPlano.atraves">
            </textarea>
        </div>
        <ng-template pTemplate="footer">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                (click)="janelaNovoPlano()"
                severity="secondary"  />
            <p-button 
                label="Salvar" 
                [outlined]="true" 
                severity="primary" 
                (click)="salvarNovoPlano()"
              />
        </ng-template>
</p-dialog>

<!-- login, usuario redirecionado caso nao esteja logado -->
<div *ngIf="!isAuthenticated">
    <app-login></app-login>
</div>